.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-base);
  background-color: var(--card-color);
  border-width: var(--border-width-base);
  border-radius: var(--border-radius-base);
  border-color: var(--border-color-base);
  box-shadow: var(--box-shadow-base);
}

.sign-up-error-message {
  color: var(--error-color);
  font-size: var(--font-size-sm);
  margin-bottom: var(--margin-small);
}

.sign-up-container form button {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  margin-bottom: var(--margin-small);
  padding: var(--padding-small);
}

.sign-up-container form button:hover {
  background-color: var(--accent-color-hover);
}

.button-type-link {
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  padding: 0;
  margin: var(--margin-small) 0;
  font-size: inherit;
  transition: color 0.3s, font-weight 0.3s;
}

.button-type-link:hover {
  background: none;
  color: var(--accent-color-hover);
  font-weight: var(--font-weight-bold);
}

.sign-up-container form {
  display: flex;
  flex-direction: column;
}

.sign-up-container select {
  height: 40px;
  margin: 2px;
  width: 100%;
  background-color: var(--primary-color);
  cursor: pointer;
  line-height: 30px;
}

.sign-up-container label {
  display: block;
  padding: 3px;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.sign-up-container input,
.sign-up-container select {
  margin-bottom: var(--margin-small);
  padding: var(--padding-small);
  border-width: var(--border-width-base);
  border-radius: var(--border-radius-small);
  border-color: var(--border-color-base);
}

.sign-up-container input[type="file"] {
  margin-bottom: var(--margin-small);
}
