#authentication {
  width: 100%;
  min-height: 10vh;
  /* margin-top: var(--margin-avoid-header); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: var(--margin-lg);
}

/* .button-type-basic {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  margin-bottom: var(--margin-small);
  padding: var(--padding-small);
}

.button-type-basic:hover {
  background-color: var(--accent-color-hover);
} */
