.dev-nav-container {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.dev-nav-container ul {
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
}

.dev-nav-container ul li {
  list-style: none;
  /* color: red; */
  /* margin-right: 20px; */
}

.dev-nav-container ul li a {
  color: red;
}
