.dev-nav-container {
  margin: var(--margin-small);
  padding: var(--padding-small);
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: var(--primary-color);
  min-width: 160px;
  /* box-shadow: var(--box-shadow-base); */
  z-index: var(--z-index-xs);
}

.dropdown-menu li {
  padding: var(--padding-small);
  text-align: left;
}

.dropdown-menu li a {
  color: var(--accent-color);
  text-decoration: none;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: var(--card-color-hover);
  /* text-decoration: none; */
}
