.button-type-standard {
  width: 100%;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  margin-bottom: var(--margin-small);
  padding: var(--padding-small);
  transition: var(--transition-base);
}

.button-type-standard:hover {
  background-color: var(--accent-color-hover);
}

/* ======================================== */

.button-type-link {
  background: none;
  border: none;
  color: var(--accent-color);
  cursor: pointer;
  padding: 0;
  margin: var(--margin-small) 0;
  font-size: inherit;
  transition: var(--transition-base);
}

.button-type-link:hover {
  background: none;
  color: var(--accent-color-hover);
  font-weight: var(--font-weight-bold);
}

/* ======================================= */
