.login-button-container button {
   width: 100%; 
  background-color: black;
  color: var(--primary-color);
  border: none;
  border-radius: var(--border-radius-small);
  cursor: pointer;
  margin-bottom: var(--margin-small);
  padding: var(--padding-small);
  transition: var(--transition-base);
  
 
}

 button:hover {
  background-color: var(--accent-color-hover);
}
