/* .session-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.meeting-link-container {
  margin-top: 20px;
}

.meeting-option {
  margin-bottom: 15px;
}

.meeting-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.meeting-link:hover {
  background-color: #36b300;
}

.copy-link {
  color: #4caf50;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}

.copy-link:hover {
  text-decoration: none;
}

.copy-message {
  margin-top: 15px;
  color: #4caf50;
  font-weight: bold;
}

.disclaimer {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f1f1f1;
}

.disclaimer p,
.disclaimer li {
  margin-bottom: 10px;
  font-size: 0.875rem;
}

.disclaimer ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin-left: 20px;
}

.disclaimer a {
  color: #4caf50;
  text-decoration: underline;
}

.disclaimer a:hover {
  text-decoration: none;
} */

/* ======================================== */

.session-details-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border: 1px solid var(--border-color-base);
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  background-color: var(--card-color);
}

/* adeddd */
.session-details-container h2 {
  color: var(--secondary-color);
  /* font-size: var(--font-size-lg); */
}

/* adedddd */
.session-details-container p {
  color: var(--secondary-color);
}

/* adeddddd */
.session-details-container ul {
  color: var(--secondary-color);
}


.meeting-link-container {
  margin-top: 20px;
}

.meeting-option {
  margin-bottom: 15px;
}

.meeting-link {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  /* background-color: #4caf50; */
  background-color: var(--accent-color);
  /* color: #fff; */
  color: var(--primary-color);
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
}

.meeting-link:hover {
  /* background-color: #36b300; */
  background-color: var(--accent-color-hover);
}

.copy-link {
  /* color: #4caf50; */
  color: var(--accent-color);
  text-decoration: underline;
  cursor: pointer;
  margin-left: 10px;
}

.copy-link:hover {
  text-decoration: none;
}

.copy-message {
  margin-top: 15px;
  /* color: #4caf50; */
  color: var(--accent-color);
  font-weight: bold;
}

.disclaimer {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f1f1f1; */
  background-color: var(--primary-color);
}

.disclaimer p,
.disclaimer li {
  margin-bottom: 10px;
  font-size: 0.875rem; 
}

.disclaimer ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
  margin-left: 20px;
}

.disclaimer a {
  /* color: #4caf50; */
  color: var(--accent-color);
  text-decoration: underline;
}

.disclaimer a:hover {
  text-decoration: none;
}

