.sidebar {
  max-height: 100vh;
  margin-top: 100px;
  width: 300px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #f9f6f6;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  /* overflow: hidden;  */
  overflow-y: auto; /* Add vertical scrollbar */
  z-index: 5000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0); /* Sidebar visible state */
  direction: ltr;
}

.sidebar.closed {
  transform: translateX(100%); /* Move sidebar off screen */
}

.sidebar::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
  background-color: #f9f6f6; /* Color de fondo de la barra de desplazamiento */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #000; /* Color del thumb (mango) de la barra de desplazamiento */
  border-radius: 6px; /* Bordes redondeados para el thumb */
}

/* Opcional: Estilo del hover en el thumb de la barra de desplazamiento */
.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Color del thumb al pasar el mouse */
}

/* Estilos para Firefox */
.sidebar {
  scrollbar-width: thin; /* Grosor de la barra de desplazamiento para Firefox */
  scrollbar-color: #1e1e1f #f9f6f6; /* Color del thumb y del track en Firefox */
}

/* Scroll buttons styling */
.scrollButton {
  position: absolute;
  left: -40px;
  width: 330px;
  height: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5001;
  transition: background-color 0.3s ease;
}

.scrollButton.up {
  top: 20px;
}

.scrollButton.down {
  bottom: 200px;
}

.scrollButton:hover {
  background-color: #0056b3;
}

/* Small open/close button */
.smallOpenBtn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px; /* Increased font size to fit the '×' character */
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
  z-index: 5001;
}

.smallOpenBtn:hover {
  background-color: var(--accent-color-hover);
  color: #f0f0f0; /* Color del texto al hacer hover (opcional) */
}

/* Profile picture */
.profile-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
  object-position: center; /* Centers the image in the container */
  min-width: 60px;
  min-height: 60px;
  
}


.review {
  display: flex;
  align-items: center;
  margin-bottom: 30px; /* Increase space between reviews */
  transition: opacity 0.5s ease-in-out; /* Smooth transition for fading effect */
  width: 100%;
  justify-content: center;
  opacity: 1; /* Add opacity to allow for smooth fade effect */
}

/* Review content */
.review-content {
  display: flex;
  flex-direction: column;
}

/* Name styling */
.review-name {
  color: #1a1a1a;
  margin: 0;
}

/* Topic styling */
.review-topic {
  color: #333;
  margin: 5px 0;
}

/* Feedback styling */
.review-feedback {
  color: #666;
  margin: 5px 0;
}

.rating {
  color: #ffcc00;
}

.feedbackButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #151414;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.feedbackButton:hover {
  background-color: var(--accent-color-hover);
}

.feedback-icon {
  width: 60px; /* Adjust the size of the icon */
  height: 60px;
  margin-left: 20px; /* Space between the text and the icon */
  vertical-align: middle; /* Align the icon vertically with the text */
}

.user-feedbacks-heading {
  color: #151414;
  font-size: 1.5em;
  display: inline-flex; /* Ensures elements are aligned on the same line */
  align-items: center; /* Vertically centers the icon with the text */
}


