/* Sidebar container */
.sidebar {
    height: 100%;
    margin-top: 100px;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #f9f6f6;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(0); /* Sidebar visible state */
}

/* Sidebar closed state */
.sidebar.closed {
    transform: translateX(100%); /* Move sidebar off screen */
}

/* Small open/close button */
.smallOpenBtn {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px; /* Increased font size to fit the '×' character */
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    z-index: 1001;
}

.smallOpenBtn:hover {
    background-color: #0056b3; /* Color de fondo al hacer hover */
    color: #f0f0f0; /* Color del texto al hacer hover (opcional) */
}

/* Profile picture */
.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Review container */
.review {
    display: flex;
    margin-bottom: 30px; /* Increase space between reviews */
}

/* Review content */
.review-content {
    display: flex;
    flex-direction: column;
}

/* Name styling */
.review-name {
    color: #1a1a1a;
    margin: 0;
}

/* Topic styling */
.review-topic {
    color: #333;
    margin: 5px 0;
}

/* Feedback styling */
.review-feedback {
    color: #666;
    margin: 5px 0;
}

.rating {
    color: #ffcc00;
}

.feedbackButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #151414;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.feedbackButton:hover {
    background-color: #0056b3;
}

.feedback-icon {
    width: 60px; /* Adjust the size of the icon */
    height: 60px;
    margin-left: 20px; /* Space between the text and the icon */
    vertical-align: middle; /* Align the icon vertically with the text */
}

.user-feedbacks-heading {
    color: #151414;
    font-size: 1.5em;
    display: inline-flex; /* Ensures elements are aligned on the same line */
    align-items: center;  /* Vertically centers the icon with the text */
}


