/* Schedule.css */
#booking-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#booking-container h1 {
  color: var(--secondary-color);
  font-size: var(--font-size-xl);
  margin-bottom: var(--margin-base);
}

.booking-content {
  /* color: var(--secondary-color); */
  margin-bottom: var(--margin-base);
}

#booking-container a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-small);
  /* margin-bottom: var(--margin-small); */
  color: var(--accent-color);
  text-decoration: none;
  transition: var(--transition-base);
  /* border-top: var(--border-width-base) solid var(--border-color-base); */
  /* border-bottom: var(--border-width-base) solid var(--border-color-base); */
}

#booking-container a:hover {
  color: var(--accent-color-hover);
  /* background-color: var(--card-color-hover); */
  /* font-weight: var(--font-weight-bold); */
  /* border-color: var(--border-color-hover); */
}

.calendar-container {
  height: calc(100vh - 200px); /* Adjust based on your layout */
  overflow-y: auto;
  padding: 20px;
}

.availability-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #e0f7fa;
  border-radius: 8px;
}
