#footer{
 
    min-height: 100px;
    width: 100%;
    margin-top: 20px;
background-color: var(--card-color);
  border-top: var(--border-width-base) solid var(--border-color-base);
    position: bottom fixed;


}
