
#footer {
  border-top: 1px solid green;
  height: 300px; /* Adjusted height to better fit a single row */
  width: 100%;
  margin-top: 20px;
  bottom: 0;
  background-color: #4caf50;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: larger; /* Adjust size as needed */
}

.main-flex-container {
  /* background-color: #b8f10a; */
  display: flex;

  width: 100%;
  min-height: 80px;
  background-color: var(--card-color);
  border-top: var(--border-width-base) solid var(--border-color-base);
  position: bottom sticky;
}

.icon-p {
  font-size: large;
}