/* Tailwind styles ===================================== */

@tailwind base;
@tailwind components;
@tailwind utilities;

/*  Custom style variables ============================== */
/* usage with css: color: var(--primary-color); */

:root {
  /* Colors */
  --primary-color: #ffffff;
  --secondary-color: #333333;
  --accent-color: #4caf50;
  --accent-color-hover: #45a048;
  --neutral-color: #b7792c;
  --error-color: #e50f0f;
  --card-color: #f9f9f9; /* added */

  /* Typography */
  --font-family: "Arial, sans-serif";
  --font-size-xl: 1.6rem;
  --font-size-lg: 1.2rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.8rem;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --padding-small: 0.6rem; /* added */
  --padding-base: 1.2rem;
  --padding-lg: 1.8rem; /* added */
  --padding-xl: 2.4rem; /* added */
  --margin-small: 0.6rem;
  --margin-base: 1rem;
  --margin-lg: 1.4rem; /* added */
  --margin-xl: 2rem; /* added */
  --margin-xxl: 3rem; /* added */
  --margin-avoid-header: 6.5rem; /* added */
  --gap-base: 1rem;

  /* Borders */
  --border-radius-small: 4px; /* added */
  --border-radius-base: 8px;
  --border-width-base: 1px;
  --border-color-base: #dddddd;

  /* Shadows */
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* Animations */
  --transition-base: 0.3s;
}

/* Animations */

/* Global styles ===================================== */

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

/* container ===================================== */

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 20px;
  min-width: 100px;
  max-width: 600px;
}

/* colors */

/* h1 {
  color: var(--accent-color);
  font-size: var(--font-size-xl);
} */

/* h2 {
  color: var(--accent-color);
  font-size: var(--font-size-lg);
} */
