/* Tailwind styles ===================================== */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global  Styles ===================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body {
  background: linear-gradient(
    135deg,
    rgba(63, 217, 199, 0.5),
    rgba(193, 216, 197, 0.5),
    rgba(182, 231, 121, 0.5),
    rgba(140, 207, 128, 0.5),
    rgba(92, 138, 46, 0.5)
  );
  min-height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

/* Global text color styles */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li {
  color: var(--secondary-color) !important;
}

/* Add hover color for a tags */
a:hover {
  color: var(--accent-color-hover) !important;
}

/*  Custom style variables ============================== */
/* usage with css: color: var(--primary-color); */

:root {
  /* Colors */
  --primary-color: #ffffff;
  --secondary-color: #333333;
  --accent-color: #4caf50;
  /* --accent-color-hover: #45a048; */
  --accent-color-hover: #2ecc71;
  --neutral-color: #b7792c;
  --error-color: #e50f0f;
  --card-color: #f9f9f9;
  /* --card-color: #d7e1d6eb;  */
  --card-color-hover: #f0f0f0; /* added */

  /* Typography */
  --font-family: "Arial, sans-serif";
  --font-size-3xl: 2.4rem;
  --font-size-2xl: 2rem;
  --font-size-xl: 1.6rem;
  --font-size-lg: 1.2rem;
  --font-size-base: 1rem;
  --font-size-sm: 0.8rem;
  --line-height-base: 1.5;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Spacing */
  --padding-small: 0.6rem; /* added */
  --padding-base: 1.2rem;
  --padding-lg: 1.8rem; /* added */
  --padding-xl: 2.4rem; /* added */
  --margin-small: 0.6rem;
  --margin-base: 1rem;
  --margin-lg: 1.4rem; /* added */
  --margin-xl: 2rem; /* added */
  --margin-xxl: 3rem; /* added */
  --margin-avoid-header: 80px; /* added */
  --margin-avoid-footer: 200px; /* added */
  --gap-base: 1rem;

  /* Borders */
  --border-radius-small: 4px; /* added */
  --border-radius-base: 8px;
  --border-width-base: 1px;
  --border-color-base: #dddddd;
  --border-color-hover: #2ecc71;

  /* Shadows */
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.1);

  /* opacity */
  --opacity-base: 0.8;

  /* Animations */
  --transition-base: 0.3s;

  /* Elements */
  --sidebar-width: 250px; /* added */
  --sidebar-slide-width: -200px; /* added */
  --mini-sidebar-margin-left: 50px; /* added */

  /* z-index */
  --z-index-xs: 1; /* added */
  --z-index-sm: 2; /* added */
  --z-index-md: 1000; /* added */
  --z-index-lg: 1100; /* added */
  --z-index-xl: 1200; /* added */
  --z-index-xxl: 1300; /* added */
}

[data-theme="dark"] {
  --primary-color: #333333;
  --secondary-color: #ffffff;
  --accent-color: #4caf50;
  --accent-color-hover: #2ecc71;
  --neutral-color: #b7792c;
  --error-color: #e50f0f;
  --card-color: #444444;
  --card-color-hover: #555555;
  --border-color-base: #6c6c6c;
  --box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.5);

  body {
    background: rgb(89, 88, 88) !important;
  }
}


